/* Estilos generales */
body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background: linear-gradient(to bottom, #fdc6fd, #000743);
  color: #fff;
  min-height: 100vh; /* Asegura que el fondo se extienda hasta el final de la página */
  font-size: 25px;
}

.explore > h2 {
  font-size: 48px;
  color: white;
  text-align: center;
  margin-bottom: 20px;
}

.filter {
  display: flex;
  justify-content: center; /* Centra los filtros horizontalmente */
  align-items: center;
  flex-wrap: wrap; /* Permite que los filtros se envuelvan en varias líneas */
  margin-bottom: 20px;
}

.date-filter, .theme-filter {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
}

.date-inputs {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
}

.input-container {
  display: flex;
  flex-direction: column;
}

.input-container label {
  margin-bottom: 5px;
  font-weight: bold;
}

select, input[type="date"] {
  padding: 8px;
  border-radius: 5px;
  border: none;
  outline: none;
}

select {
  width: 100%;
  max-width: 200px;
}

h3 {
  margin-bottom: 10px;
}

/* Estilos para los elementos de proyectos */
.objetos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.item {
  margin: 5px;
  position: relative;
  width: 190px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 10px;
  transition: transform 0.3s ease;
}

.item img {
  border-radius: 15px;
  border: 6px solid #000A63;
  background-color: white;
  width: 190px;
  height: 115px;
  margin: auto;
}

.item:hover {
  transform: scale(1.1);
}

.item a {
  text-decoration: none;
}

.item h3 {
  font-size: 16px;
  color: #fff;
  margin-top: 5px;
  text-align: center;
  margin-top: auto;
}

/* Estilos para los títulos largos de los elementos de proyectos */
.item h3 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 160px;
  height: 20px;
}

.item h3:hover {
  white-space: normal;
  overflow: visible;
}

/* Estilos para los enlaces */
a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Estilos para la vista de la página en dispositivos de pantalla pequeña */
@media (max-width: 700px) {
  .date-inputs {
      flex-direction: column;
  }

  .input-container {
      margin-bottom: 10px;
  }

  select {
      width: 100%;
      max-width: unset;
  }
}
