

.navbar {
  background-color: #000A63; 
  position: relative;
  overflow: hidden;
  z-index: 2;
  font-size: 20px;
  transition: left 0.3s ease;
}
.navbar a {
 
  float: left;
  display: block;
  color: #ffffff; 
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}
.navbar a:hover {
  background-color: #ddd; 
  color: #000;
}
.navbar a.active {
  background-color: #ddd; 
  color: #000;
}
.navbar a.right {
  float: right;
}

