/* Estilos generales */
body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background: linear-gradient(to bottom right, #fdc6fd, #001447); /* Degradado de morado a azul oscuro */
  color: #fff; /* Color del texto blanco */
}

/* Estilos del contenedor principal */
.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Alinear al inicio del contenedor */
  align-items: center; /* Centrar horizontalmente */
  min-height: 100vh;
  padding: 20px; /* Reducir el espacio para pantallas más pequeñas */
}

/* Estilos del contenido del encabezado */
.header-content {
  display: flex;
  align-items: center;
  flex-wrap: wrap; /* Permitir que los elementos se envuelvan en pantallas pequeñas */
  margin-bottom: 20px;
  text-align: center; /* Alinear el texto en el centro */
}

.perfil {
  margin: 0 auto 20px; /* Centrar horizontalmente y añadir margen inferior */
}

.perfil img {
  width: 150px; /* Reducir el tamaño de la imagen */
  border-radius: 50%;
}

.detalles {
  max-width: 100%;
}

.detalles h1 {
  margin: 0;
  font-size: 36px; /* Reducir el tamaño de fuente para pantallas pequeñas */
}

/* Estilos de los formularios */
.form-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 800px; /* Limitar el ancho máximo del formulario */
  margin: 0 auto; /* Centrar el formulario horizontalmente */
}

.form-row {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.form-row label {
  font-size: 18px; /* Reducir el tamaño de fuente */
  font-weight: bold;
  margin-bottom: 5px;
}

.form-row input[type="text"],
.form-row textarea,
.form-row select,
.form-row input[type="file"],
.form-row input[type="submit"] {
  border: none;
  border-radius: 10px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  width: 100%; /* Hacer que los inputs ocupen el 100% del ancho */
  box-sizing: border-box; /* Incluir el padding en el ancho total */
}

textarea::placeholder {
  color: #000; /* Color del texto del placeholder */
}

.form-row input[type="submit"] {
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  font-size: 18px;
}

.form-row input[type="submit"]:hover {
  background-color: #0056b3;
}

/* Estilos para los botones */
button {
  margin-top: 20px;
  padding: 15px 30px; /* Aumento del padding */
  background-color: #007bff;
  color: #fff; /* Color del texto blanco */
  border: none;
  border-radius: 25px; /* Ajuste para hacer los botones más redondeados */
  cursor: pointer;
  text-decoration: none;
  font-size: 18px; /* Aumento del tamaño del texto */
}

button:hover {
  background-color: #0056b3;
}

button a {
  color: #fff;
  text-decoration: none;
}

/* Media queries para pantallas pequeñas */
@media (max-width: 768px) {
  .perfil img {
    width: 120px; /* Reducir el tamaño de la imagen aún más */
  }

  .detalles h1 {
    font-size: 28px; /* Reducir el tamaño de fuente para pantallas pequeñas */
  }

  .form-container {
    flex-direction: column; /* Hacer que el formulario sea vertical */
  }

  .form-row input[type="submit"] {
    margin-top: 20px; /* Añadir espacio superior */
  }
}
