body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif; 
    background: linear-gradient(to bottom, #fdc6fd, #000743);
    align-items: center;
    min-height: 100vh;
}

.form-container {
    background-color: rgba(255, 255, 255, 0.3);
    border: black;
    padding: 50px;
    border-radius: 30px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    max-width: 400px; 
    margin: 20px;
    width: 100%; 
}

.form-container h2 {
    margin-bottom: 20px;
}

.form-container .input-container {
    position: relative;
    margin-bottom: 20px;
}

.form-container input, .form-container select, .form-container textarea {
    background-color: #D9D9D9;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 30px;
    box-sizing: border-box;
}

.form-container textarea {
    resize: none;
    height: 100px;
}

.form-container button {
    font-family: 'Montserrat'; 
    width: 100%; 
    padding: 10px;
    border-radius: 30px;
    border: none;
    background-color: #000743;
    color: white;
    cursor: pointer;
}

.form-container button:hover {
    background-color: #fff;
    color: #000743;
}

@media (min-width: 500px) {
    .form-container {
        margin: 0 auto; 
        margin-top: 70px;
    }
}
